
*{
 
    max-width:auto;
    max-height: auto;
    padding: 0;
    margin:  0;
    outline: 0;

    
}

body{
   
    background-repeat: no-repeat;
    background-size: cover;

}

header{
    position: relative;
    
}
    

.first{
    font-family: Arial, Helvetica, sans-serif;
    top: 40px;
    margin-left: 50%;
    position: absolute;
    width: 500px;
    text-align:left;
    

}

img{
    margin-top: 15%;
    margin-left: 45%;
    position: absolute;
    width: auto;
    transition: ease-in-out;

}



p{
    text-align: center;
}

.container{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 400px;
    background-color: rgb(0, 208, 255);
    padding: 100px;
    padding-top: 28px;
    padding-bottom: 202px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
   
}

h1{
    margin-top: 0;
}



input{
    border-color: black;
    border-radius: 10px;
    border-style: solid;
    width: 100%;
    display: block;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 30px;

}

button{
    border-color: black;
    border-radius: 50px;
    width: 100%;
    padding: 20px;
    background-color: white;
}


#resultado{
   padding-left: 50px;
   padding-top: 20px;
   position: fixed;
   
}
/* medias */
@media only screen and (max-width: 1070px) {

    img{
        margin-top: 25%;
        margin-left: 50%;
        position: absolute;
        width: 500px;
        transition: ease-out;
    
    }
}
@media only screen and (max-width: 980px) {
    .first{
        font-family: Arial, Helvetica, sans-serif;
        top: 40px;
        margin-left: 57%;
        position: absolute;
        width: 350px;
        text-align:left;
        transition: ease-out;

    
    }    

    img{
        margin-top: 35%;
        margin-left: 56%;
        position: absolute;
        width: 350px;
        transition: ease-out;
    
    }


}
@media only screen and (max-width: 800px) {
    .first{
        font-family: Arial, Helvetica, sans-serif;
        top: 40px;
        margin-left: 65%;
        position: absolute;
        width: 250px;
        text-align:left;
        transition: ease-in;

    }   

    img{
        margin-top: 45%;
        margin-left: 60%;
        position: absolute;
        width: 300px;
        transition: ease-out;
    
    }

}
@media only screen and (max-width: 750px) {
    .first{
        font-family: Arial, Helvetica, sans-serif;
        top: 40px;
        margin-left: 71%;
        position: absolute;
        width: 200px;
        text-align:left;
        transition: ease-out;
    }   

    img{
        margin-top: 55%;
        margin-left: 70%;
        position: absolute;
        width: 200px;
        transition: ease-out;
    
    }

}

@media only screen and (max-width: 650px) {
    .first{
        display: none;

    }   

    img{
        display: none;

    }
}




  

